{% extends "::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin" role="form">

      <h2 class="form-signin-heading">Panel logowania</h2>
    
      <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      
      <input style="margin-bottom: 10px;" class="form-control" placeholder="Nazwa użytkownika" type="text" id="username" name="_username" value="{{ last_username }}" />
      <input class="form-control" placeholder="Hasło" type="password" id="password" name="_password"  />

      <div style="margin-top: 10px;">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
        <button class="btn btn-primary pull-right" style="margin-left: 5px;" type="submit" id="_submit" name="_submit" >Zaloguj</button>   
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-warning pull-right" type="submit" id="_submit" name="_submit" >Zarejestruj konto</a>
      </div>

    </form>
  </div>
</div>
  


{% endblock body %}
